DB_HOST=dbdifie.cgxgc8wsgidd.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=replace-with-rds-password
DB_NAME=dbdifie
DB_CONNECT_TIMEOUT=10000
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true
PORT=8080
JWT_SECRET=replace-with-strong-secret
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://98.80.187.179

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=bucket-difie
